

@mixin multilineTextTrim($font-size: rem($font-size-base), $line-height: $line-height-base, $lines-to-show: 3 ) {
	display: block; /* Fallback for non-webkit */
	display: -webkit-box;
	height: $font-size*$line-height*$lines-to-show; /* Fallback for non-webkit */

	font-size: $font-size;
	line-height: $line-height;

	-webkit-line-clamp: $lines-to-show;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
	@if $inset {
		-webkit-box-shadow:inset $top $left $blur $color;
		-moz-box-shadow:inset $top $left $blur $color;
		box-shadow:inset $top $left $blur $color;
	} @else {
		-webkit-box-shadow: $top $left $blur $color;
		-moz-box-shadow: $top $left $blur $color;
		box-shadow: $top $left $blur $color;
	}
}