.c-logo {
	left: $grid-gutter-width / 2;

	display: block;
	width: rem(120);
	height: rem(50);

	background: $logo left center no-repeat;
	background-size: 100% auto;

	@media (min-width: $screen-sm) {
		left: - $grid-gutter-width / 2;

		width: rem(158);
		height: rem(66);
	}
}