.c-menuIcon {
	position: absolute;
	top: rem(14);
	right: 0;

	width: rem(50);
	height: rem(50);

	cursor: pointer;

	&__lines {
		position: relative;
		top: 50%;
		left: 50%;

		display: block;
		width: rem(30);
		height: rem(4);
		margin-top: - rem(2);
		margin-left: - rem(15);

		background: $lime;
		transition: background-color .2s ease-out;

		&:before, &:after {
			content: ' ';

			position: absolute;
			left: 0;

			display: block;
			width: rem(30);
			height: rem(4);

			background: $lime;
			transition: all .2s ease-out;
		}

		&:after {
			top: rem(9);
		}
		&:before {
			top: - rem(9);
		}

	}
}

// cross

.c-menuIcon__lines.is-transformed {
	background-color: transparent;

	&:before, &:after {
		top: 0;
		left: rem(2);

		width: rem(26);

		transform-origin: 50% 50%;
		transition: all .15s ease-out;
	}

	&:before {
		transform: rotate(45deg);
	}

	&:after {
		transform: rotate(-45deg);
	}
}

